In [1]:
import pandas as pd
import sqlalchemy as db

In [2]:
## read data in from employees excel file
employees = pd.read_excel("../Ex_Files_ETL_Python_SQL/Exercise Files/Chapter_2/H+ Sport Employees.xlsx", sheet_name='Employees-Table')

In [3]:
## transform employees table so it can be loaded into the database
transformed_employees = employees.drop(['Job Rating', 'New Salary', 'Tax Rate', '2.91%'], axis='columns')

In [ ]:
## create engine for database
engine = db.create_engine('mysql+pymysql://root:password@localhost:3306/etl_course_db')

In [5]:
## write employees df to db using to_sql
employees.to_sql("employees", engine, if_exists='replace', index='False')

741

In [7]:
## check to make sure the number of rows matches up between here and the db
employees.shape

## it matches up, both have 741 rows

(741, 13)